<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required0><br>
        <input type="email" name="email" placeholder="Email" required0><br>
        <input type="password" name="password" placeholder="password" required0><br>
        <button type="submit">Daftar</button>
    </form>
    <h4>Sudah punya akun? <span><a href="/login">Login</a></span></h4>
</body>
</html>